*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}
@media only screen and (max-width: 1199px){
  .container{
    max-width: 1200px;
    padding: 20% 20%;
  }
}